<div class="c-header py-2">
    <div class="container">
        <div class="d-flex flex-wrap">
            <a class="d-flex align-items-center mb-3" href="{{ siteUrl }}" alt={{ siteName }}>
                <img class="c-header-logo d-none d-lg-block pr-lg-3" src="../source/img/logo.svg" alt="{{ siteName }} logo">
                <div class="d-flex flex-column"> 
                    <h1 class="mb-0">{{ siteName | split(' ')[0] }}</h1>
                    <h2 class="text-white mb-0">{{ siteName | split(' ')[1] }}</h2>
                </div>
            </a>
        </div>
    </div>
</div>