{% set entries = craft.entries.section('connections').type('bridge').all() %}
{% set statusLeftBank = '' %}
{% set statusRightBank = '' %}


<div class="c-bridges-list accordion col-12 col-lg-4 ml-auto">
    <div class="accordion">
        {% for bridge in entries %}

        {# Show warning icon when needed #}
        {% set warning = false %}
        {% for service in bridge.services.all() %}
            {% for escalator in service.escalators.all() %}
                {% if escalator.leftBank is empty or escalator.rightBank is empty %}
                    {% if escalator.showEscalatorInformation %}
                        {% set warning = true %} 
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% for lift in service.lifts.all() %}
                {% if lift.leftBank is empty or lift.rightBank is empty %}
                    {% if lift.showLiftInformation %}
                        {% set warning = true %} 
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% for ferry in service.ferries.all() %}
                {% if ferry.leftBank is empty or ferry.rightBank is empty %}
                    {% if ferry.showFerryInformation %}
                        {% set warning = true %} 
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}

    
            <div class="c-bridges-list-item my-2 p-4 collapsed" data-toggle="collapse" data-target="#collapse{{ bridge.id }}" aria-expanded="true" aria-controls="collapse{{ bridge.id }}">
                <div class="c-bridges-accordion-header d-flex justify-content-between align-items-center">
                    <h4 class="text-secondary">
                        {{ bridge.title }}
                    </h4>
                    <div class="d-flex flex-row align-items-center">
                        <div class='mr-4'>
                            {% if warning %}
                                <div class="c-icon c-icon--warning"></div>
                            {% endif %}
                            {# Show information icon when needed #}
                            {% set information = false %}
                            {% for information in bridge.services.information.limit(1).all() %}
                                {% set information = true %}
                                <div class="c-icon c-icon--info"></div>
                            {% endfor %}        
                        </div>

                        <div class="accordion-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="pl-6" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </div>

                    </div>
                </div>

                <div id="collapse{{ bridge.id }}" class="collapse" aria-labelledby="heading{{ bridge.id }}">
                    <div class="c-bridges-list-item--detail">

                        <div class="c-bridges-list-item--services mt-2">
                            {% for service in bridge.services.lifts.all() if service.showLiftInformation %}
                                <div class="c-bridges-list-item--service d-flex justify-content-between mb-2">
                                    <div class="c-bridges-list-item--name d-flex">
                                        <div class="c-icon c-icon--lift_white"></div>
                                        <span class="align-self-end">{{ "Liften" | t }}</span>
                                    </div>
                                        {% set statusLeftBank = service.leftBank %}
                                        {% set statusRightBank = service.rightBank %}
                                        {% include '_blocks/_services-information' %}
                                </div>
                            {% endfor %}

                            {% for service in bridge.services.escalators.all() if service.showEscalatorInformation %}
                                <div class="c-bridges-list-item--service d-flex justify-content-between mb-2">
                                    <div class="c-bridges-list-item--name d-flex">
                                        <div class="c-icon c-icon--escalator_white"></div>
                                        <span class="align-self-end">{{ "Roltrappen" | t }}</span>
                                    </div>  
                                    {% set statusLeftBank = service.leftBank %}
                                    {% set statusRightBank = service.rightBank %}
                                    {% include '_blocks/_services-information' %}
                                </div>
                            {% endfor %}

                            {% for service in bridge.services.ferries.all() if service.showFerryInformation %}
                                <div class="c-bridges-list-item--service d-flex justify-content-between mb-2">
                                    <div class="c-bridges-list-item--name d-flex">
                                        <div class="c-icon c-icon--boat"></div>
                                        <span class="align-self-end">{{ "Ferry" | t }}</span>
                                    </div>
                                    {% set statusLeftBank = service.leftBank %}
                                    {% set statusRightBank = service.rightBank %}
                                    {% include '_blocks/_services-information' %}
                                </div>
                            {% endfor %}

                            {% for information in bridge.services.information.all() %}
                                <div class="c-bridges-list-item--info mt-4">
                                    <div class="d-flex flex-row">
                                        <div>
                                            <div class="c-icon c-icon--sm c-icon--{{ information.icon.value }} align-self-start"></div>
                                        </div>
                                        <div class="d-flex flex-column">
                                            <h5>{{  information.contentTitle }}</h5>
                                            <p>
                                                {{ information.contentText }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                            <div class="c-bridges-list-item--accessibility mt-4">
                                <h5>{{  "Accessibility" | t }}</h5>
                                <div class="d-flex flex-row">
                                    {% for icon in bridge.services.accessibility %}
                                        <div class="c-icon c-icon-lg c-icon--{{ icon.value }}"></div>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                
            </div>
        {% endfor %}    
    </div>
</div>